---
import FriendLink from "../components/FriendLink.astro";
import "../styles/aria.css";
import Partition from "../components/Partition.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Aria's friends";
const description = "All of Aria's friends with 88x31 buttons for you to click on!!";
---

<BaseLayout pageTitle={pageTitle} description={description}>
    
    <Partition>
        <h2>My badge:</h2>
        <div class="flex w-fit h-fit" style="background-color: #FFFCBC;">
            <a href="https://aria.coffee/" target="_blank">
                <img
                    alt="Aria"
                    src="https://aria.coffee/static/img/buttons/aria.gif"
                    style="min-width: 88px; width: 176px; min-height: 31px; height: 62px; image-rendering: pixelated;"
                />
            </a>
        </div>
        <br />
        <p>Code:</p>
        <label>
<textarea

    onclick="this.select()"
    readonly
    cols="60"
    rows="2"
    class="rounded backdrop-brightness-0"
    style="background-color: black;"
    >&lt;img src="https://aria.coffee/static/img/buttons/aria.gif"
    alt="Aria" style="image-rendering: pixelated;" /&gt;</textarea
>
        </label>
    </Partition>
</BaseLayout>
