---
import FriendLink from "../components/FriendLink.astro";
import "../styles/aria.css";
import Partition from "../components/Partition.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Aria's friends";
---

<BaseLayout pageTitle={pageTitle}>
    <Partition>
        <h1 class="text-2xl">Here are some more 88x31 buttons:</h1>
        <br />
        <div class="flex outline-dotted p-2 flex-wrap">
            <FriendLink
                name="eightyeightthirty.one"
                image="https://eightyeightthirty.one/88x31.png"
                target="https://eightyeightthirty.one/#aria.coffee"
            />

            <FriendLink
                name="Low Tier God"
                image="/static/img/88x31/lowtiergod.png"
                target="/static/img/88x31/lowtiergod.png"
            />
            <FriendLink
                name="Krill Yourself 1"
                image="/static/img/88x31/lowtiergura-1.png"
                target="/static/img/88x31/lowtiergura-1.png"
            />
            <FriendLink
                name="Krill Yourself 2"
                image="/static/img/88x31/lowtiergura-2.png"
                target="/static/img/88x31/lowtiergura-2.png"
            />
            <FriendLink
                name="Gura"
                image="/static/img/88x31/Gura.png"
                target="/static/img/88x31/Gura.png"
            />
            <FriendLink
                name="Vencord"
                image="/static/img/88x31/vencord.gif"
                target="https://vencord.dev/"
            />
            <FriendLink
                name="BlueSky"
                image="/static/img/88x31/bluesky.gif"
                target="https://bsky.app/"
            />
            <FriendLink
                name="FFXIV"
                image="/static/img/88x31/ffxiv.gif"
                target="https://na.finalfantasyxiv.com/"
            />
            <FriendLink
                name="Astro"
                image="/static/img/88x31/astro.png"
                target="https://astro.build/"
            />
            <div style="width: 176px; height: 62px" class="flex place-content-center items-center"><!--suppress HtmlDeprecatedAttribute -->
                <iframe src="https://incr.easrng.net/badge?key=ariadotcoffee" style="background: url(//incr.easrng.net/bg.gif); transform: scale(2);" title="increment badge" width="88" height="31" frameborder="0"></iframe></div>
            <FriendLink
                    name="Specsavers"
                    image="/static/img/88x31/eyes.gif"
                    target="https://www.specsavers.com.au/"
            />
            <FriendLink
                    name="Archive.org"
                    image="/static/img/88x31/lain.gif"
                    target="https://web.archive.org/web/*/https://aria.coffee/"
            />
        </div>
    </Partition>
</BaseLayout>
