---
const buttonFormat = "gif";

import { Icon } from "astro-icon/components";
import { execSync } from "node:child_process";

const commitURL = `https://git.aria.coffee/BuyMyAria/aria.coffee/commit/${execSync(`git log -1 --pretty="format:%H"`)}`;
const COMMIT = `<a href=${commitURL} target="_blank">${execSync(`git log -1 --pretty="format:%h"`)}</a>`;
---

<hr class="h-1" style="" />
<footer class="flexcol">
    <div class="flexrow">
        <p class="text-center">
            | <a href="https://github.com/BuyMyMojo/aria.coffee" target="_blank"
                > <Icon name="mdi:source-branch" class={"svg-inline"}/>Source</a
            > - Commit:<Fragment set:html={COMMIT} /> | <a href="https://aria.coffee/rss.xml" target="_blank"
                > <Icon name="mdi:rss" class={"svg-inline"}/>RSS Feed</a
            > | <span class="tooltip"><a href="/special_blog"
            > <Icon name="mdi:rss" class={"svg-inline"}/>blog for robots!</a
        > <span class="tooltiptext"><nobr>AI Honeypot~</nobr></span></span> | <img src="https://git.aria.coffee/BuyMyAria/aria.coffee/badges/workflows/deploy.yaml/badge.svg" width="130px" height="23" style="display: inline-block;" />
        </p>
    </div>
    <div class="flex">
        <img
            class="badge size-fit"
            src={`/static/img/buttons/aria.${buttonFormat}`}
            decoding="async"
            alt="88x31 pixel button with the text 'Aria' and the top half of a human human face on the right hand side"
        />
        <script is:inline defer src="https://transring.neocities.org/ring.js"
        ></script>
    </div>
</footer>
<style is:global>
    /* Declare a custom CSS class to make the icon look right */
    .svg-inline--fa {
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
        height: 1em;
        vertical-align: -0.125em;
    }
</style>