---
const buttonFormat = "gif";

import { Icon } from "astro-icon/components";
import { execSync } from "node:child_process";

const commitURL = `https://git.aria.coffee/aria/aria.coffee/commit/${execSync(`git log -1 --pretty="format:%H"`)}`;
const COMMIT = `<a href=${commitURL} target="_blank">${execSync(`git log -1 --pretty="format:%h"`)}</a>`;
---

<hr class="h-1" style="" />
<footer class="flexcol">
    <div class="flexrow">
        <p class="text-center">
            | <a
                href="https://github.com/BuyMyMojo/aria.coffee"
                target="_blank"
            >
                <Icon name="mdi:source-branch" class={"svg-inline"} />Source</a
            > - Commit:<Fragment set:html={COMMIT} /> | <a
                href="https://aria.coffee/rss.xml"
                target="_blank"
            >
                <Icon name="mdi:rss" class={"svg-inline"} />RSS Feed</a
            > |
            <br />
        </p>
    </div>
    <div class="flex place-self-center">
        <img
            class="badge size-fit"
            src={`/static/img/buttons/aria.${buttonFormat}`}
            decoding="async"
            alt="88x31 pixel button with the text 'Aria' and the top half of a human human face on the right hand side"
        />
        <script is:inline defer src="https://transring.neocities.org/ring.js"
        ></script>
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script
            src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"
            defer></script>
    </div>
    <iframe
    src="https://ad.ari.lt/ads/embed?from=aria.coffee"
    sandbox="allow-popups allow-popups-to-escape-sandbox"
    referrerpolicy="no-referrer"
    title="An advertisment showing a silly image and author information."
    style="border:none;max-width:100%"
    width="722"
    height="98"
    loading="lazy"
    scrolling="no"
    class=" place-self-center"
> </iframe>
</footer>
<style is:global>
    /* Declare a custom CSS class to make the icon look right */
    .svg-inline--fa {
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
        height: 1em;
        vertical-align: -0.125em;
    }
</style>
