---
import { Image } from "astro:assets";

const { name, image, target } = Astro.props;
---
<a href={`${target}`} target="_blank"><Image src={image} width={88} height={31} alt={`${name}`} /></a>
<style>
    img {
        image-rendering: pixelated;
        width: 88px;
        height: 31px;
        padding: 4px;
    }
</style>