---
const { name, image, target } = Astro.props;
---
<a href={`${target}`} target="_blank"><img src={`${image}`} alt={`${name}`} decoding="async" /></a>
<style>
    img {
        image-rendering: pixelated;
        width: 88px;
        height: 31px;
        padding: 4px;
    }
</style>