---
import { Image, Picture } from "astro:assets";

const { name, image, target } = Astro.props;
---
<a href={`${target}`} target="_blank"><Picture src={image} width=176 height=62 alt={`${name}`} class="flex" quality="mid" decoding="async" loading="lazy" formats={['webp']} /></a>
<style>
    img {
        image-rendering: pixelated;
        min-width: 176px;
        width: 176px;
        max-width: 176px;
        min-height: 62px;
        height: 62px;
        max-height: 62px;
        padding: 4px;
    }
</style>