---
import Partition from "./Partition.astro";

const { name, date, tags, link } = Astro.props;
---
<Partition>
    <h2><a class="nav-btn text-2xl" href={link} target="_blank">{name}</a></h2>
    <p>Date: {date}</p>
    <p>Tags: <sub>{tags}</sub></p>
    <hr/>
    <p><slot /></p>
</Partition>
