<a href="https://bsky.app/profile/did:plc:bzrn33tcfgjxnsanvg6py3xn">Bluesky</a>
<a href="https://buymymojo.net/twitter/">Twitter(Archive)</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
      border-radius: 8px;
    }
  </style>