---
import NavHeader from "../components/NavHeader.astro";
import Favicon from "../components/Favicon.astro";
import Footer from "../components/Footer.astro";
import "../styles/aria.css";
import EmbedCode from "../components/EmbedCode.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <Favicon />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <EmbedCode pageTitle={pageTitle} />

        <link rel="preconnect" href="https://transring.neocities.org" />
        <link rel="dns-prefetch" href="https://transring.neocities.org" />

        <link
            rel="alternate"
            type="application/rss+xml"
            title="amemoia's blog"
            href={new URL("rss.xml", Astro.site)}
        />
    </head>
    <body>
      <NavHeader />
      <slot />
      <Footer />
    </body>
</html>
